@use '@/style/_variable' as *;

.matrix {
  position: relative;
  width: min(calc(100% - #{rem(16 + 16)}), rem(640), 100vh);
  max-width: rem(640);
  aspect-ratio: 1 / 1;
  margin: 0 auto;

  > div {
    @include rect(100%);

    position: absolute;
    inset: 0;
  }
}

.axisLine {
  stroke: var(--border-color);
  stroke-width: 1;
}

.axisName {
  @include txt-description;

  fill: var(--text-secondary);
}

.axisLabel {
  font-weight: var(--font-weight-bold);
  fill: var(--text-primary);
}

.plotLabel {
  @include txt-description;
}

.plotPoint {
  fill: var(--link-color);
}
