@use '@/style/_variable' as *;

.hero {
  position: relative;
}

.title {
  display: flex;
  place-items: center;
  background: var(--bg-primary)
    linear-gradient(
      to top,
      #fff,
      rgb(0 0 0 / 10%) 1px,
      rgb(0 0 0 / 5%) rem(2),
      rgb(0 0 0 / 2.5%) rem(8),
      transparent rem(32)
    );
  border-bottom: 1px solid #fff6;

  @include mq(fromWide) {
    height: min(40svh, rem(420));
  }
}

.logo {
  @include rect(100%);

  object-fit: contain;
}

.introduction {
  @include container-narrow;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  @include mq(narrow) {
    padding-top: var(--spacing-2xl);
  }

  @include mq(fromWide) {
    padding-top: var(--spacing-3xl);
  }

  p {
    @include mq(narrow) {
      @include txt-description;
    }

    @include mq(fromWide) {
      @include txt-paragraph;
    }
  }
}
