@use '@/style/_variable' as *;

.hero {
  position: relative;
}

.title {
  display: flex;
  place-items: center;
  background-color: var(--bg-primary);

  @include mq(fromWide) {
    height: min(40svh, rem(420));
  }
}

.logo {
  @include rect(100%);

  object-fit: contain;
}

.introduction {
  @include container-narrow;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-top: var(--spacing-xl);

  p {
    @include txt-paragraph;
  }
}
