@use '@/style/_variable' as *;

.home {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);

  @include mq(narrow) {
    gap: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }

  @include mq($from: wide) {
    gap: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }
}
