@use '@/style/_variable' as *;

.home {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);

  @include mq(narrow) {
    gap: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }

  @include mq(fromWide) {
    gap: var(--spacing-4xl);
    padding-bottom: var(--spacing-4xl);
  }
}
