@use '@/style/_variable' as *;

.button {
  &.--minor {
    @include button(minor);
  }

  &.--basic {
    @include button(basic);
  }

  &.--accent {
    @include button(accent);
  }

  &.--link {
    @include txt-link;
  }
}

button.--link {
  display: inline-flex;
  place-content: center;
  place-items: center;
  border: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}
