@use '../function/rem' as *;
@use '../mixin/tracking' as *;
@use '../mixin/rect' as *;
@use '../mixin/mq' as *;
@use './text' as *;

// ボタン
@mixin button($variant: primary) {
  place-content: center;
  place-items: center;
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: rem(6);
  transition:
    background-color var(--transition-ease),
    color var(--transition-ease),
    box-shadow var(--transition-ease);

  // アイコン
  &.--icon {
    @include rect(rem(40));

    display: inline-flex;
    padding: rem(8);
    overflow: hidden;
    font-size: var(--font-size-base);
  }

  // リキッド
  &.--liquid {
    @include tracking(40);

    display: inline-flex;
    padding: rem(6) rem(16);
    font-size: var(--font-size-base);

    @include mq('narrow') {
      font-size: var(--font-size-xs);
    }
  }

  // 幅いっぱい
  &.--full {
    @include tracking(40);

    display: flex;
    width: 100%;
    padding: rem(6) rem(16);
    font-size: var(--font-size-base);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: var(--txt-disabled);
    cursor: not-allowed;
    background-color: var(--bg-disabled);
  }

  @if $variant == 'basic' {
    color: var(--txt-on-fill);
    background-color: var(--bg-conversion);
  }

  @if $variant == 'minor' {
    color: var(--txt-basic);
    background-color: transparent;
    box-shadow: inset 0 0 0 rem(1.5) var(--txt-basic);

    &:disabled {
      color: var(--txt-disabled);
      box-shadow: inset 0 0 0 rem(1.5) var(--txt-disabled);
    }
  }

  @if $variant == 'accent' {
    color: var(--txt-on-fill);
    background-color: var(--bg-secondary);
  }
}

// リンク
@mixin txt-link($color: currentColor) {
  display: inline-flex;
  padding: rem(1) 0;
  font-weight: var(--font-weight-bold);
  color: $color;
  text-decoration: none;
  background: transparent linear-gradient($color, $color) no-repeat right bottom / 0 rem(2);
  background-color: transparent;
  transition: background-size var(--transition-ease);

  @media (any-hover) {
    &:hover {
      background: transparent linear-gradient($color, $color) no-repeat left bottom / 100% rem(2);
      transition: background-size var(--transition-leave);
    }
  }
}

// 中央から左右に伸びるアンダーライン効果
@mixin txt-linkcenter_expand($color: currentColor) {
  display: inline-block;
  padding: rem(4) 0;
  font-weight: 500;
  color: $color;
  text-decoration: none;
  background: transparent linear-gradient($color, $color) no-repeat center bottom / 0 rem(1);
  background-color: transparent;
  transition: background-size var(--transition-ease);

  @media (any-hover) {
    &:hover {
      background: transparent linear-gradient($color, $color) no-repeat center bottom / 100% rem(1);
      transition: background-size var(--transition-ease);
    }
  }
}
