@use '../function/rem' as *;
@use '../mixin/tracking' as *;
@use '../mixin/rect' as *;
@use '../mixin/mq' as *;
@use './text' as *;

// ボタン
@mixin button($variant: primary) {
  gap: var(--spacing-sm);
  place-content: center;
  place-items: center;
  border: none;
  border-radius: rem(6);
  transition:
    background-color var(--transition-ease),
    color var(--transition-ease),
    box-shadow var(--transition-ease);

  // アイコン
  &.--icon {
    @include rect(rem(40));

    display: inline-flex;
    padding: rem(8);
    overflow: hidden;
    font-size: var(--font-size-base);
  }

  // リキッド
  &.--liquid {
    @include tracking(40);

    display: inline-flex;
    padding: rem(8) rem(24);
    font-size: var(--font-size-sm);
  }

  // 幅いっぱい
  &.--full {
    @include tracking(40);

    display: flex;
    width: 100%;
    padding: rem(16) rem(24);
    font-size: var(--font-size-md);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: var(--txt-disabled);
    cursor: not-allowed;
    background-color: var(--bg-disabled);
  }

  @if $variant == 'basic' {
    font-weight: var(--font-weight-bold);
    color: var(--txt-description);
    text-shadow: rem(-1) rem(-1) rem(1) #fff;
    background-color: var(--bg-light);
    border: 1px solid var(--border-color);
    box-shadow:
      0 0 rem(16) rgb(0 0 0 / 10%),
      rem(-3) rem(-3) rem(6) #fff,
      rem(3) rem(3) rem(6) rgb(0 0 0 / 5%),
      rem(-1) rem(-1) rem(3) #fff,
      rem(1) rem(1) rem(3) rgb(0 0 0 / 10%),
      inset rem(-1) rem(-1) rem(2) rgb(0 0 0 / 5%),
      inset rem(1) rem(1) rem(3) rem(1) #fff;
    transition:
      box-shadow var(--transition-ease),
      border-color var(--transition-ease),
      background-color var(--transition-ease),
      text-shadow var(--transition-ease);

    &:disabled {
      color: var(--txt-disabled);
      text-shadow: none;
      cursor: not-allowed;
      background-color: var(--bg-light);
      filter: blur(rem(1));
      box-shadow:
        0 0 rem(16) rgb(0 0 0 / 0%),
        rem(-3) rem(-3) rem(6) #fff6,
        rem(3) rem(3) rem(6) rgb(0 0 0 / 0%),
        rem(-1) rem(-1) rem(2) #fff,
        rem(1) rem(1) rem(2) rgb(0 0 0 / 10%),
        inset rem(-1) rem(-1) rem(1) rgb(0 0 0 / 5%),
        inset rem(1) rem(1) rem(2) rem(1) #fff;
    }

    &:hover:not(:disabled) {
      text-shadow: 0 0 0 #fff0;
      border: 1px solid transparent;
      box-shadow:
        0 0 rem(16) rgb(0 0 0 / 0%),
        rem(-3) rem(-3) rem(4) #fff6,
        rem(3) rem(3) rem(4) rgb(0 0 0 / 0%),
        rem(-1) rem(-1) rem(2) #fff0,
        rem(1) rem(1) rem(2) rgb(0 0 0 / 5%),
        inset rem(-1) rem(-1) rem(1) rgb(0 0 0 / 5%),
        inset rem(1) rem(1) rem(1) rem(1) #fff;
    }
  }

  @if $variant == 'minor' {
    color: var(--txt-basic);
    background-color: transparent;
    box-shadow: inset 0 0 0 rem(1.5) var(--txt-basic);

    &:disabled {
      color: var(--txt-disabled);
      box-shadow: inset 0 0 0 rem(1.5) var(--txt-disabled);
    }
  }

  @if $variant == 'accent' {
    color: var(--txt-on-fill);
    background-color: var(--bg-secondary);
  }
}

// リンク
@mixin txt-link($color: var(--txt-description)) {
  position: relative;
  z-index: 1;
  display: inline-flex;
  gap: rem(4);
  padding: rem(4) rem(16);
  color: $color;
  text-decoration: none;
  background-color: var(--bg-light);
  border-radius: rem(999);
  transition: box-shadow var(--transition-ease);

  @media (any-hover) {
    &:hover {
      box-shadow:
        0 0 rem(16) rgb(0 0 0 / 10%),
        rem(-3) rem(-3) rem(6) #fff,
        rem(3) rem(3) rem(6) rgb(0 0 0 / 5%),
        rem(-1) rem(-1) rem(3) #fff,
        rem(1) rem(1) rem(3) rgb(0 0 0 / 10%),
        inset rem(-1) rem(-1) rem(2) rgb(0 0 0 / 5%),
        inset rem(1) rem(1) rem(3) rem(1) #fff;
    }
  }
}
