@use '../function/rem' as *;
@use '../mixin/mq' as *;

@mixin container {
  width: 100%;
  max-width: var(--container-wide);

  @include mq(narrow) {
    padding: 0 var(--spacing-lg);
  }

  @include mq(fromWide) {
    padding: 0 var(--spacing-3xl);
    margin: 0 auto;
  }
}

@mixin container-narrow {
  width: 100%;
  max-width: var(--container-narrow);

  @include mq(narrow) {
    padding: 0 var(--spacing-xl);
  }

  @include mq(fromWide) {
    padding: 0 var(--spacing-3xl);
    margin: 0 auto;
  }
}

@mixin panel {
  background-color: var(--bg-light);
  border: 1px solid var(--border-color);
  border-radius: rem(12);
  box-shadow:
    0 0 rem(24) rgb(0 0 0 / 10%),
    rem(-8) rem(-8) rem(16) #fff,
    rem(1) rem(1) rem(2) rgb(0 0 0 / 5%),
    inset rem(-1) rem(-1) 0 rgb(0 0 0 / 5%),
    inset rem(1) rem(1) 0 rem(1) #fff;
}
