@use '@/style/_variable' as *;

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.personalPlot {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);

  @include mq(narrow) {
    gap: var(--spacing-xl);
    padding: var(--spacing-2xl) 0;
  }

  @include mq(fromWide) {
    gap: var(--spacing-3xl);
    padding: var(--spacing-3xl) 0;
  }
}

.intro {
  @include container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.pageTitle {
  @include hd-lg;
}

.introBody {
  @include txt-paragraph;
}

.section {
  @include container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.sectionTitle {
  @include hd-md;

  color: var(--txt-basic);
}

.sectionLead {
  @include txt-paragraph;
}

.sectionBody {
  display: flex;
  flex-direction: column;

  @include mq(narrow) {
    gap: var(--spacing-xl);
  }

  @include mq(fromWide) {
    gap: var(--spacing-xl);
  }
}

.question {
  @include panel;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  @include mq(narrow) {
    padding: var(--spacing-lg);
  }

  @include mq(fromWide) {
    padding: var(--spacing-xl);
  }
}

.questionTitle {
  font-size: var(--font-size-base);
  line-height: 1.8;
  color: var(--txt-basic);
}

.optionRow {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.optionScale {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-md);
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;

  @include mq(narrow) {
    align-items: flex-start;
  }

  @include mq(fromWide) {
    flex-flow: row nowrap;
    gap: rem(40);
    align-items: center;
  }
}

.labelMin {
  order: 1;
  width: 40%;
  font-size: var(--font-size-sm);
  line-height: 1.8;
  color: var(--txt-description);
  text-align: left;

  @include mq(fromWide) {
    flex-shrink: 0;
    width: rem(160);
  }
}

.labelMax {
  order: 2;
  width: 50%;
  font-size: var(--font-size-sm);
  line-height: 1.8;
  color: var(--txt-description);
  text-align: right;

  @include mq(fromWide) {
    flex-shrink: 0;
    order: 3;
    width: rem(160);
  }
}

.optionGroup {
  display: flex;
  justify-content: space-between;
  order: 3;
  width: 100%;

  @include mq(fromWide) {
    flex: 1;
    order: 2;
    padding-inline: var(--spacing-lg);
  }
}

.optionLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--spacing-sm);
  cursor: pointer;
}

.optionIndicator {
  @include radio;

  color: var(--txt-link);
}

.footer {
  @include container;

  display: flex;
  place-content: center;
}

[class].submitButton {
  max-width: rem(360);
}
