@use '@/style/_variable' as *;

.personalPlot {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);

  @include mq(narrow) {
    gap: var(--spacing-xl);
    padding: var(--spacing-2xl) 0;
  }

  @include mq(fromWide) {
    gap: var(--spacing-3xl);
    padding: var(--spacing-3xl) 0;
  }
}

.intro {
  @include container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.pageTitle {
  @include hd-lg;
}

.introBody {
  @include txt-paragraph;
}

.section {
  @include container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.sectionTitle {
  @include hd-md;

  color: var(--txt-basic);
}

.sectionLead {
  @include txt-paragraph;
}

.sectionBody {
  display: flex;
  flex-direction: column;

  @include mq(narrow) {
    gap: var(--spacing-xl);
  }

  @include mq(fromWide) {
    gap: var(--spacing-xl);
  }
}

.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  place-content: center;
  justify-content: center;
  background-color: #f7f7f733;
  backdrop-filter: blur(rem(8));
  border-top: 1px solid var(--border-color);
  box-shadow:
    inset 0 1px 0 #fff6,
    0 0 rem(24) rgb(0 0 0 / 5%);

  @include mq(narrow) {
    gap: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-lg);
  }

  @include mq(fromWide) {
    gap: var(--spacing-lg);
    padding: var(--spacing-lg) var(--spacing-lg);
  }
}

[class].submitButton {
  max-width: rem(360);

  br {
    @include mq(fromWide) {
      display: none;
    }
  }
}
