@use '@/style/_variable' as *;

.groupEditor {
  @include container;
}

.section {
  display: flex;
  flex-direction: column;

  @include mq(narrow) {
    gap: var(--spacing-md);
  }

  @include mq(fromWide) {
    @include panel;

    gap: var(--spacing-lg);
    padding: var(--spacing-xl);
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include mq(narrow) {
    @include hd-sm;
  }

  @include mq(fromWide) {
    @include hd-md;
  }
}

.tableScroll {
  overflow-x: auto;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.theadRow {
  border-bottom: 1px solid var(--border-color);

  @include mq(narrow) {
    display: none;
  }
}

.th {
  padding-block: var(--spacing-md);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: 1.8;
  color: var(--txt-description);

  &:first-child {
    width: 25%;
  }

  &:last-child {
    text-align: right;
    white-space: nowrap;
  }

  .theadRow & {
    padding-block: var(--spacing-sm);
  }
}

.tbodyRow {
  border-bottom: 1px solid var(--border-color);

  @include mq(narrow) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding-block: var(--spacing-md);
  }
}

.td {
  @include mq(narrow) {
    display: block;
    width: 100%;
    padding: 0;
  }

  @include mq(fromWide) {
    padding-block: var(--spacing-md);

    &:first-child {
      padding-right: var(--spacing-md);
    }
  }
}

.emptyCell {
  padding-block: var(--spacing-3xl);
  font-size: var(--font-size-base);
  line-height: 1.8;
  color: var(--txt-description);
  text-align: center;
}

.input {
  @include textbox;

  width: 100%;
  padding-block: var(--spacing-sm);
  padding-inline: rem(12);
}

.cellActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mq(narrow) {
    margin-top: var(--spacing-xs);
  }

  @include mq(fromWide) {
    gap: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
}

[class].linkToForm {
  font-size: var(--font-size-sm);
  color: var(--txt-link);

  &:hover {
    color: var(--txt-link);
  }
}

[class].deleteButton {
  gap: rem(4);
  font-size: var(--font-size-sm);

  &:hover {
    color: var(--txt-alert);
  }
}

.footer {
  @include mq(narrow) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    justify-content: flex-end;
    border: none;
  }

  @include mq(fromWide) {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--spacing-lg);
  }
}

.groupNameInput {
  width: 100%;
}
